streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-groq
langchain-ollama
langchain-chroma
langchain-text-splitters
langchain-tavily
langgraph
docx2txt

chromadb
pypdf
ollama